<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Angular CRUD</h1>
        <div class="d-flex">
            <button (click)="clickAddEmployee()" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
        </div>
    </div>
</nav>

<table class="table ">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Username</th>
            <th scope="col">Tel</th>
            <th scope="col">Salaire</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of EmployeeData">
            <td>{{row.id}}</td>
            <td>{{row.nom}}</td>
            <td>{{row.prenom}}</td>
            <td>{{row.username}}</td>
            <td>{{row.tel}}</td>
            <td>{{row.salaire}}</td>
            <td><button (click)="onEdit(row)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                <button (click)="deleteanEmployee(row)" class="btn btn-danger mx-2">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="btn-close" data-bs- dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nom</label>
                        <input type="text" formControlName="nom" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Prenom</label>
                        <input type="text" formControlName="prenom" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Tel</label>
                        <input type="text" formControlName="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Salaire</label>
                        <input type="text" class="form-control" formControlName="salaire" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
                <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>